@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Share+Tech&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-family: Jura, sans-serif;
}